{
  "presets": [
    [
      // Latest stable ECMAScript features
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "49",
          "firefox": "52",
          "opera": "36",
          "edge": "79",
          "safari": "14"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    // Some transforms (such as object-rest-spread)
    // don't work without it: https://github.com/babel/babel/issues/7215
    [
      "@babel/plugin-transform-destructuring",
      {
        "useBuiltIns": true
      }
    ],
    [
      "@babel/plugin-transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es"
      }
    ]
  ]
}
